<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2024 Deutsche Telekom IT GmbH

SPDX-License-Identifier: Apache-2.0
-->

<configuration>
    <springProfile name="!prod">
        <include resource="org/springframework/boot/logging/logback/defaults.xml" />
        <include resource="org/springframework/boot/logging/logback/base.xml" />
    </springProfile>
    <springProfile name="prod">
        <appender name="JsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
        <root>
            <appender-ref ref="JsonConsoleAppender"/>
        </root>
    </springProfile>
</configuration>